@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --pink-color:#f2726a;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}


body{
    height: 100vh;
    background: linear-gradient(45deg, #00853e, #50c878);
    display: flex;
    align-items: center;
    
}
.card{
    height: 400px;
    width: 300px;
    background: #242628;
    border-radius: 15px;
    color: white;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: auto;
}
.card_job{
    color: unset;
    color: var(--pink-color);
    margin-bottom: 25px;
    
}
.card_name{
    font-size:25px;
    font-weight: bolder;

}
.card_img{
    width: 120px;
    height: 120px;
    border: 4px solid var(--pink-color);
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin: 25px auto;
    transition: 0.5s;
}
img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}
.card_img:hover{
    margin: unset;
    margin: 0 auto;
    height: 400px;
    width: 300px;
    border: unset;
    border-radius: unset;
}
.card_social a{
    color:white;
    margin: 25px 25px 25px;
    font-size: 20px;
    transition: 0.5s;
}
.card_social a:hover{
    color: var(--pink-color);
}
.card button{
    width: 100px;
    height: 40px;
    border: 1px solid var(--pink-color);
    border-radius: 5px;
    background:#242628 ;
    color:white;
    transition: 0.5s;
    margin: 25px;
}
.card button:hover{
     background: var(--pink-color);
}

